<!-- bottom Navigation -->
<footer>
  <!-- "navbar fixed-bottom navbar-dark bg-dark" -->
  
    <nav class="navbar fixed-bottom  " id="footer">
    <h6 class="display-6 navbar-text">© 2022 Rozita Soleimani.</h6>

  </nav>
</footer>
