<%- include partials/header.ejs %>

<%- include partials/mainNav.ejs %>





<!-- Educations -->
<section class="white-section" id="education">
  <!-- Right Column -->
  <div class="w3-twothird">
    
    <div class="w3-container w3-card w3-white w3-margin-bottom">
    
      <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal icon"></i> Work Experience</h2> <br><br>
      <div class="">
        <h5 class="w3-opacity"><b>Project Engineer / Bruker AXS GmbH</b></h5>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2018 - <span class="w3-tag w3-teal w3-round">Jan 2021</span></h6>
        <p>Improving the quality of production process. Development of automated test bench for high voltage generator. Creation of test specification. </p>
        <hr>
      </div>
      <div class="">
        <h5 class="w3-opacity"><b>Diagnostic Engineer(OBD) / IAV GmbH</b></h5>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2017 - May 2018</h6>
        <p>Verification of high-voltage component Diagnostics. Validation of software (diagnostics) for various milestones. Creation of diagnostic test catalogs based on specifications and functional requirements. Participation in domestic and foreign test drive. Regular communication with the customer and the supplier.</p>
        <hr>
      </div>
      <div class="w3-container">
        <h5 class=""><b>Production Engineer- Automotive Sensors / Getrag GmbH</b></h5>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2015 - Mar 2016</h6>
        <p>Development, testing and optimization of the component design. Creation and maintenance of the performance specifications, the event management report, the specifications, the qualification plan and the test reports. </p><br>
      </div>
    </div>
    <div class="">
      <h5 class="w3-opacity"><b>Research Engineer / Fraunhofer IOSB</b></h5>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2013 - Oct 2015</h6>
      <p>Development of sensor system and autonomous power supply. Ensure the availability of electro-optical measuring systems, problem-specific adaptation and expansion of measuring systems (hardware and software) in design, construction and realization. </p><br>
    </div>
  </div>


  </div>
  

</div>

</div>

<br>

  <h2 class="w3-text-grey w3-padding-16"><i class=" icon fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge  w3-text-teal"></i> Education</h2>

  <div class="container-fluid ">
    <div class="row">
      <div class="feature-box col-lg-6">
        <!--  <i class="icon fas fa-check-circle fa-4x"></i> 
        <i class="icon fa fa-graduation-cap fa-4x" aria-hidden="true"></i>-->
        <h5 class="feature-title"><b>AI-SW Engineering Technology</b></h5><br>
   
        <p>Ontario College Advanced Diploma- with Honours</p>
        <p >Centennial College, Toronto, Canada </p>
      
      </div>
      <div class="feature-box col-lg-6">
        <h5 class="feature-title"><b>Sensor Systems Technology</b></h5><br>
      
        <p>Master of Science </p>
        <p>Karlsruhe University of Applied Sciences,Germany</p><br>
      </div>
    </div>
   

    <h2 class="w3-text-grey w3-padding-16"><i class=" icon fa fa-globe fa-fw w3-margin-right w3-xxlarge  w3-text-teal"></i> Languages</h2>
    <div class="row">
      <div class="feature-box col-lg-6">

    <div class="languagebox">
      <p>German</p>

      <div class="language">
          <div class="language_level" style="width: 85%"></div>
      </div>
  </div>

  <div class="languagebox">
      <p>English</p>
      
      <div class="language">
          <div class="language_level" style="width: 78%"></div>
      </div>
  </div>

  <div class="languagebox">
      <p>Persian</p>
    
      <div class="language">
          <div class="language_level" style="width: 100%"></div>
      </div>
  </div>

</div>
</div>



</section>


  

<%- include partials/bottomNav.ejs %>
<%- include partials/footer.ejs %>