<%- include partials/header.ejs %>

<%- include partials/mainNav.ejs %>





<!-- Educations -->
<section class="white-section" id="education">
  <!-- Right Column -->
  <div class="w3-twothird">
    
    <div class="w3-container w3-card w3-white w3-margin-bottom">
    
      <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal icon"></i> Work Experience</h2> <br><br>
      <div class="">
        <h5 class="w3-opacity"><b>Volunteer -Machine Learning Engineer / Omdena </b></h5>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2022 - <span class="w3-tag w3-teal w3-round">Present</span></h6>
        <p> Develop a predictive model for wet/dry distinguishing by leveraging machine learning and digital sensor data. Analytical evaluation of RFID sensor measurements. ML experiment tracking and version control of data and models with DVC and DAGsHub.</p>
        <hr>
      </div>
      <div class="">
        <h5 class="w3-opacity"><b>Project Engineer / Bruker AXS GmbH</b></h5>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2018 - <span class="w3-tag w3-teal w3-round">Jan 2021</span></h6>
        <p> Evaluation of customer service software to support failure detection analysis. Support of the software development including process planning for the SW production. 
          Data analysis of test bench data and test results. Implementation and support of production tests for  new development projects. </p>
        <hr>
      </div>
      <div class="">
        <h5 class="w3-opacity"><b>Diagnostic Engineer(OBD) / IAV GmbH</b></h5>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2017 - May 2018</h6>
        <p>Analysis of on-board diagnostic data (OBD) and diagnostic trouble codes (DTCs). Validation of software (diagnostics) based on milestones . Creation of diagnostic test catalogs based on specifications and functional requirements. 
          Regular communication with the customer and the supplier about test results and project status.</p>
        <hr>
      </div>
      <div class="w3-container">
        <h5 class=""><b>Production Engineer- Automotive Sensors / Getrag GmbH - Magna PT</b></h5>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2015 - Mar 2016</h6>
        <p>Development, testing and optimization of the component design. Creation of the requirement specifications. 
           </p><br>
      </div>
    </div>
    <div class="">
      <h5 class="w3-opacity"><b>Research Engineer / Fraunhofer IOSB</b></h5>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2013 - Oct 2015</h6>
      <p>Development of a sensor system with autonomous power supply. Project-related data analysis, further development of evaluation software. Quality assurance of an environmental monitoring station.
        Creation of project documentation and reports.
   </p><br>
    </div>
  </div>


  </div>
  

</div>

</div>

<br>

  <h2 class="w3-text-grey w3-padding-16"><i class=" icon fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge  w3-text-teal"></i> Education</h2>

  <div class="container-fluid ">
    <div class="row">
      <div class="feature-box col-lg-6">
        <!--  <i class="icon fas fa-check-circle fa-4x"></i> 
        <i class="icon fa fa-graduation-cap fa-4x" aria-hidden="true"></i>-->
        <h5 class="feature-title"><b>AI-SW Engineering Technology</b></h5><br>
   
        <p>Ontario College Advanced Diploma- with Honours</p>
        <p >Centennial College, Toronto, Canada </p>
      
      </div>
      <div class="feature-box col-lg-6">
        <h5 class="feature-title"><b>Sensor Systems Technology</b></h5><br>
      
        <p>Master of Science </p>
        <p>Karlsruhe University of Applied Sciences,Germany</p><br>
      </div>
    </div>
   

    <h2 class="w3-text-grey w3-padding-16"><i class=" icon fa fa-globe fa-fw w3-margin-right w3-xxlarge  w3-text-teal"></i> Languages</h2>
    <div class="row">
      <div class="feature-box col-lg-6">

    <div class="languagebox">
      <p>German</p>

      <div class="language">
          <div class="language_level" style="width: 85%"></div>
      </div>
  </div>

  <div class="languagebox">
      <p>English</p>
      
      <div class="language">
          <div class="language_level" style="width: 78%"></div>
      </div>
  </div>

  <div class="languagebox">
      <p>Persian</p>
    
      <div class="language">
          <div class="language_level" style="width: 100%"></div>
      </div>
  </div>

</div>
</div>



</section>


  

<%- include partials/bottomNav.ejs %>
<%- include partials/footer.ejs %>