<%- include partials/header.ejs %>
<%- include partials/mainNav.ejs %>

  

  <!-- Title 
 <section id="title">
  <div class="container-fluid first">
 
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-5">
        <h1>I'm Rozita.</h1>
        <h2>an AI Programmer. </h2>
      </div>
      <div class="col-lg-3"></div>
    </div>
    
</section>  -->
<!-- Hello section -->
<section class="white-section" id="hello">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h1>I'm Rozita.</h1>
    
    </div>
  
  </div>

  <div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
      <img class="profile-img" src="/Assets/images/rozVanC.png" alt="rozita-profile-img">
    
      <p class="intro"> a Machine Learning, Cloud and Data-Science Engineer. I ❤️ Coffee and Travel.</p>
    </div>
  </div>
  <div>
    <a class="btn btn-primary btn-lg btn-outline-dark btn-learn" href="/skills" role="button">Learn more</a>
  </div>
</section>


<%- include partials/bottomNav.ejs %>
<%- include partials/footer.ejs %>





