<%- include partials/header.ejs %>
<%- include partials/mainNav.ejs %>


<section class="white-section" id="hello">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h1>I'm Rozita.</h1>
    
    </div>
  
  </div>

  <div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
      <img class="profile-img" src="/Assets/images/roz.png" alt="rozita-profile-img">
    
      <p class="intro"> a Machine Learning, Cloud and Data-Science Engineer. I ❤️ Coffee and Travel.</p><br>
      <a class="socialMedia icon"  href="https://github.com/RozWhite/stylizingImage/blob/main/Styling_Picture_preTrainModel.ipynb" target="_blank" rel="noopener" title="Go to Github link"> Click here to stylizing your image with a pre-trained model.</a>
    </div>
  </div>
  <div>
    <a class="btn btn-primary btn-lg btn-outline-dark btn-learn" href="/skills" role="button">Learn more</a>
  </div>

 
</section>


<%- include partials/bottomNav.ejs %>
<%- include partials/footer.ejs %>





