<%- include partials/header.ejs %>

<%- include partials/mainNav.ejs %>

  


  
<!-- skills -->

<section class="colored-section" id="skills">
  <div class="container-fluid second">

  <h2 class="skill">My Skills:</h2>

</section>
<!-- Testimonials -->

<section class="colored-section" id="testimonials">

  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <!-- Skill 1 -->
      <div id="testimonial-carousel"  class="carousel-item active container-fluid skill-row" data-interval="50000">
        <img class="AI-img" src="/Assets/images/AI.png" alt="AI-img">
        <h3 class="skill_1">Artificial Intelligence</h3>
        <p>I decided to study AI and machine learning because I was involved in an AI-based decision making process 
          in my previous job and I found this field quit interesting. I got the chance to and continue my studies in Artificial Intelligence and Software Engineering Technology, 
          which was one of the best decisions in my life. I learned how to use machine learning, deep learning and NLP techniques 
          for different applications.
          In addition, I become familiar with the various cloud services from AWS, AZURE and the Google platform and with Big Data platform such as Hadoop, 
             Databricks, Kafka and Spark. I have also worked with web development languages and frameworks like Javascript, Node.js and Express. </p>
      </div>
    <!-- Skill 2 -->
      <div id="testimonial-carousel" class="carousel-item container-fluid skill-row" data-interval="50000">
        <img class="skill-img" src="/Assets/images/skill.png" alt="skill-img">
        <h3 class="skill_2">Developing Machine Learning Models</h3>
        <p class="skill_text">I have a good understanding of Python programming language and Python Libraries such as: Pandas, NumPy, Scikit-learn, Seaborn and Matplotlib, 
          SciPy, NLTK, TensorFlow, Keras, Scrapy, BeautifulSoup, PyTorch and OpenCV, for data gathering, data analysis, feature engineering, 
          feature selection and building the machine learning models. I also have considerable experience with Anaconda, Jupyter Notebook and 
          Google Colab.  </p>
      </div>
     <!-- Skill 3 -->
     <div id="testimonial-carousel" class="carousel-item container-fluid skill-row"data-interval="50000">
      <img class="deploy-img" src="/Assets/images/deploy1.png" alt="deploy-img">
      <h3 class="skill_1">Deploying Machine Learning Models</h3>
      <p >I have done some projects with Flask and dajngo libraries to serving and deploying machine and deep learning models via Rest API. For environment standardization, isolation and portability of ML models, I used Docker and kubernetes. 
        I have also experience with deploying ML models on IAAS vs PAAS cloud Platforms like AWS and Heroku.   </p>
    </div>


    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon"></span>
    </a>
  </div>


</div>
</section>



<%- include partials/bottomNav.ejs %>
<%- include partials/footer.ejs %>